*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-1-section1{
    width: 1280px;
    height: 400px;
    background: linear-gradient(0deg, #D9D9D9, #D9D9D9),
    linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0.47%, rgba(0, 0, 0, 0) 100%);
    background-image: url('/Assets/p1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* .data1 {
    width: 337px;
    height: 56px;
    overflow: hidden;
    font-size: 0; 
    border: 1px solid black; 
}

.data1:hover {
    font-size: 60px;
    color: aqua;
    
} */

.data1 {
    width: 337px;
    height: 56px;
    overflow: hidden;
    position: relative; 
    font-size: 0; 
}
.data1::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid black;  */
    box-sizing: border-box;
}

.data1:hover {
    font-size: 60px; 
    color: aqua; 
}
.data2{
    width: 113px;
    height: 33px;
    color: rgba(255, 255, 255, 1);
    ;
    top: 78px;
    left: 87px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    margin-left: 100px;
}
.data3{
    width: 199px;
    height: 245px;
    top: -712px;
    left: -445px;
    gap: 0px;
    opacity: 0px;
    background-image: url(./Assets/monkey.png);
    background-size: cover;
    margin-left: 10px;
    margin-top: 40px;
}
.data4{
    width: 93px;
    height: 59px;
    top: 147px;
    left: 227px;
    gap: 0px;
    opacity: 0px;
    position: relative;
    top: -260px; left: 250px;
    text-align: center;

    font-family: Poppins;
    font-size: 39.16px;
    font-weight: 700;
    line-height: 58.74px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.data5{
    width: 334px;
    height: 46px;
    top: 211.74px;
    left: 209px;
    gap: 0px;
    opacity: 0px;
    position: relative;
    top: -260px; left: 230px;
    text-align: center;
    background-image: url(/Assets/name.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.data6{
    width: 136px;
    height: 43px;
    top: 287.74px;
    left: 227px;
    padding: 8px 22px 8px 22px;
    gap: 10px;
    border-radius: 33px 0px 0px 0px;
    opacity: 0px;

    position: relative;
    top: -230px; left: 230px;
    text-align: center;
    background-image: url(/Assets/buyTicket.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.data7{
    width: 157px;
    height: 43px;
    top: 287.74px;
    left: 381px;
    padding: 8px 22px 8px 22px;
    gap: 10px;
    border-radius: 33px 0px 0px 0px;
    opacity: 0px;

    position: relative;
    top: -272px; left: 400px;
    text-align: center;
    background-image: url(/Assets/bookAParty.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* page2 */
/* .page-2{
    background-color: orange;
} */
.page-2-section1{
    width: 1280px;
    height: 632px;
    top: 400px;
    gap: 0px;
    opacity: 0px;
    background-image: url(/Assets/bg_ec2.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.beta1{
    width: 545px;
    height: 156px;
    top: 436px;
    left: 60px;
    gap: 0px;
    opacity: 0px;
    position: relative;
    top: 10px; left: 20px;

    font-family: Poppins;
    font-size: 52px;
    font-weight: 800;
    line-height: 78px;
    text-align: left;
}
.beta2{
    background-image: url(/Assets/name.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 334px;
    height: 46px;
    top: 533px;
    left: 119px;
    gap: 0px;
    opacity: 0px;

    position: relative;
    top: -50px;
}
.beta3{
    width: 527px;
    height: 324px;
    top: 599px;
    left: 70px;
    gap: 0px;
    opacity: 0px;

    position: relative;
    top: 0; left: 20px;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

/* page 3 */

    
.page-3-section1{
    width: 713px;
    height: 602px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.page-3-section1-sub-1{
    width: 319px;
    height: 393px;
    /* top: 1140px;
    left: 119px; */
    gap: 0px;
    opacity: 0px;
    background-image: url(/Assets/monkey.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.page-3-section2{
    width: 713px;
    height: 602px;
    top: 1032px;
    left: 567px;
    gap: 0px;
    opacity: 0px;
    
    position: relative;
    top: -600px; left: 569px;


}
.page-3-section2{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.sub-1{
    width: 527px;
    height: 489px;
    top: 1092px;
    left: 617px;
    gap: 0px;
    opacity: 0px;
   

}
.sub-1-1{
    width: 527px;
    height: 134px;
    top: 1092px;
    left: 617px;
    gap: 0px;
    opacity: 0px;

}
.sub-1-2{
    width: 527px;
    height: 134px;
    top: 1286px;
    left: 617px;
    gap: 0px;
    opacity: 0px;

}
.sub-1-3{
    width: 527px;
    height: 101px;
    top: 1480px;
    left: 617px;
    gap: 0px;
    opacity: 0px;
} 

.head-1{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;

    color: rgba(245, 136, 31, 1);

}
.bo-1
{
    width: 527px;
    height: 66px;
    top: 1160px;
    left: 617px;
    gap: 0px;
    opacity: 0px;
    
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}


